[2016-04-05 18:22] jywarren opened #1 "refactor tests to run on commandline with jasmine-npm"
https://github.com/jasmine/jasmine-npm

We should better accommodate headless and non-browser development.

[2016-04-06 00:49] jywarren opened #2 "add node-canvas as fallback for CLI pixel manipulation"
https://github.com/Automattic/node-canvas

Image/pixel manipulation in `SpectralWorkbench.Image.js` needs a fallback for headless usage in node.js: https://github.com/publiclab/spectral-workbench.js/blob/master/src/SpectralWorkbench.Image.js

This may include managing the image element as a JavaScript image object rather than as displayed in the DOM. All instances of `imgEl` and `lineEl` should be

[2016-04-06 01:14] jywarren opened #3 "set img element size via JavaScript, not CSS"
Some styles -- image width -- are set via CSS in `dist/spectral-workbench.css`. These should be set explicitly in the codebase, so that the CSS include is not necessary and these functions can be run in node.js without a DOM that depends on CSS styles.

[2016-04-06 21:52] jywarren opened #4 "allow selector parameter in UI.TagForm constructor"
Allow the TagForm to be connected to any element.

https://github.com/publiclab/spectral-workbench.js/blob/master/src/ui/SpectralWorkbench.UI.TagForm.js#L7

[2016-04-07 16:22] jywarren opened #5 "Make Spectrum constructor accept an array of [wavelength, intensity] pairs"
As documented [in the README](https://github.com/publiclab/spectral-workbench.js), you have to pass a large nested object (based on legacy reasons from [SpectralWorkbench.org](https://github.com/publiclab/spectral-workbench)) to instantiate a Spectrum object. This is too much work, although we should remain backwards-compatible.

So we should allow a constructor which takes a simple array in `[wav

[2016-04-12 21:21] jywarren opened #6 "zoom interface shown by default; results in incorrect graph height"
Please describe your problem in detail, including:

### What happened before you saw the error

Displayed graph is too tall, related to height set for zoom interface; "scrubbing" zoom interface is shown by default (though cut off/hidden with the `overflow:hidden` style).

### What you expected to happen

Should initialize with zoom interface hidden.

See `graph.zoom()`:

https://github.com/publicl

[2016-04-12 22:35] #6 closed

[2016-04-13 23:00] #5 closed

[2016-04-13 23:13] jywarren opened #9 "Datum depends on Graph to have tags; refactor to eliminate this"
## Problem

On this line, and maybe others, Datums reference `datum.graph`, but that shouldn't be required, esp. for things like tags:

https://github.com/publiclab/spectral-workbench.js/blob/master/src/SpectralWorkbench.Datum.js#L67

## Proposed fix

Add a conditional check for `datum.graph` and don't call it if it doesn't exist, for every instance of graph inside the Datum class.

[2016-04-13 23:32] #9 closed

[2016-04-13 23:38] jywarren opened #11 "Upload to SpectralWorkbench.org via user token"
Allow command line upload of spectra to the SpectralWorkbench.org open source spectral database by using an API token.

[2016-04-13 23:40] jywarren opened #12 "CSV export via spectrum.encodeArray"
Add a `spectrum.encodeArray()` corresponding to `spectrum.decodeArray()` so spectral data can be parsed from a CSV and output to a CSV.

It could be a `spectrum.encodeCSV()` similar to the new `spectrum.decodeCSV()` found here:

https://github.com/publiclab/spectral-workbench.js/blob/ef52eac98c31066bf438fd05c09b5241e64487ae/src/SpectralWorkbench.Spectrum.js#L29-L39

[2016-04-16 19:48] jywarren opened #13 "switch to interpolation for spectrum.getIntensity()"
## The problem

`spectrum.getIntensity(<wavelength>)` is currently calculated by fetching the nearest data point, but it should be the best calculated value for that exact wavelength.

## Proposed fix

Interpolate to find what the intensity would be even if the exact wavelength doesn't exist in the stored data. The equivalent would be to draw a line between the two nearest data points, and see whe

[2016-04-16 21:44] jywarren commented on #11
Tokens are now available on Spectral Workbench profile pages, and can be used to submit spectra with a POST to `https://spectralworkbench.org/spectrums?token=foo` and `spectrum[json]` in the JSON format provided here: https://publiclab.org/wiki/spectral-workbench-api#Uploading+data

[code]

Tokens should be kept private.

[2016-04-18 02:58] jywarren opened #15 "move all image-related functions into Image class & make them optional"
### Problem

When initializing a Graph with no image, a call is made to `/spectrums/undefined` for an image. Not sure exactly where this call comes from, but it is probably a call for the image url, perhaps for `Graph.imagePxToDisplayPx()` or another Graph-related image function, of which there are several.

Basically, instantiating a Graph currently requires an image or some functions hang; the s

[2016-04-18 17:59] jywarren opened #16 "Capture interface via Camera class"
### Feature request

Webcam capture is currently implemented only in the [parent SpectralWorkbench project](https://github.com/publiclab/spectral-workbench), and needs porting into this library.

See specficially: https://github.com/publiclab/spectral-workbench/blob/master/app/assets/javascripts/capture.js

The interface could be:

[code]

Also see the new getUserMedia camera selection API in http

[2016-04-18 17:59] jywarren opened #17 "browserless webcam capture using node nw.js"
### Problem

Webcam capture is currently implemented only in the parent SpectralWorkbench project, and needs porting into this library (#16). But when running headless, webcam capture should also be possible.

### Proposed fix

We could potentially make this possible with `nw.js`, formerly `node-webkit`, which implements `getUserMedia`:

https://github.com/nwjs/nw.js/wiki/Control-camera-and-microp

[2016-04-21 21:57] jywarren opened #18 "preserve 8-bit, 0-255 values as native storage for spectral data"
Currently, we use the expression `parseInt(line[1] / 2.55)/100` to save image data, which scales it to 0-100%.

In JSON: https://github.com/publiclab/spectral-workbench.js/blob/ef52eac98c31066bf438fd05c09b5241e64487ae/src/SpectralWorkbench.Spectrum.js#L106-L110

and from arrays: https://github.com/publiclab/spectral-workbench.js/blob/ef52eac98c31066bf438fd05c09b5241e64487ae/src/SpectralWorkbench.S

[2016-04-26 20:21] jywarren opened #22 "Resizing window during calibration causes layout havoc"
## What happened just before the problem occurred

I began to calibrate by clicking `Calibrate` in the tools menu, then resized my window. It seems like the padding or margin or spacing changed suddenly, and I saw this:

![screenshot 2016-04-26 at 4 14 49 pm](https://cloud.githubusercontent.com/assets/24359/14832975/d2be2054-0bca-11e6-8bd7-48b11a0068d0.png)

## Relevant URLs

https://spectralworkb

[2016-06-21 14:26] jywarren commented on #17
This is complete as of #35 and v0.1.0 - we rely on outside image capture (since it can be platform dependent) in browserless mode (nodejs) -- example in `examples/node-example-input.js`.

[2016-06-21 14:26] #17 closed

[2016-06-21 14:27] jywarren commented on #12
Fixed in #34 & v0.0.15 via `spectrum.encodeCSV()`

[2016-06-21 14:27] #12 closed

[2016-06-21 14:28] jywarren commented on #3
This is especially important as tests passing currently depends on css values for image width, and those functions will not work without a DOM.

[2016-06-21 14:28] jywarren commented on #2
Done in #32, #33, and v0.0.15

[2016-06-21 14:28] #2 closed

[2016-06-21 14:29] jywarren commented on #1
done in #30 and v0.0.13

[2016-06-21 14:29] #1 closed

[2016-06-21 14:30] jywarren commented on #15
Fixed in #32, #33, and #37, and v0.1.1

[2016-06-21 14:33] jywarren commented on #15
Hmm, didn't work -- the test is not the exact same issue, apparently? Reopening.

[2016-06-21 15:05] #15 closed

[2016-06-21 15:52] jywarren opened #40 "imageless spectrum graph doesn't undim if there are no tags"
https://spectralworkbench.org/spectrums/78144 undims, and has no image, but one tag;

https://spectralworkbench.org/spectrums/80038 also has no image, and does not undim, and has no tags.

I forked 80038 and got https://spectralworkbench.org/spectrums/82180, which immediately had a "forked" tag, and did undim successfully.

Maybe the undim is only run after tags, and when there aren't any, it neve

[2016-06-22 10:14] jywarren commented on #11
Use "request" npm module: https://github.com/request/request

[2016-06-23 12:36] jywarren opened #41 "Image is not defined when run in nodejs with some examples"
examples/node-example.js yields this. We should work around this -- short term, mocking Image if it doesn't exist.

Also, we should run some non-phantomjs, non-jasmine tests with tape, perhaps -- in npm test definition.

[2016-06-23 16:30] jywarren opened #42 "Reduce/restructure usage of graph.updateSize; run only once per graph or tag"

[2016-06-24 12:27] jywarren commented on #41
solved in v0.1.4

[2016-06-24 12:27] #41 closed

[2016-06-24 12:28] jywarren commented on #40
Attempted a fix for this in v0.1.4, tested here: https://github.com/publiclab/spectral-workbench.js/blob/master/spec/javascripts/graph_spec.js#L88-L102 but test fails with opacity = '' instead of '1'... odd.

[2016-06-24 12:28] jywarren commented on #11
Complete in v0.1.4, documented in new README.md

[2016-06-24 12:28] #11 closed

[2016-06-24 15:47] jywarren opened #45 "make spectrum.calibrate() permanent by default"
This could be a 'breaking change' -- let's put it off for now. But calibrate needs a temporary version in:

src/api/SpectralWorkbench.API.Core.js
src/api/SpectralWorkbench.API.Operations.js

which could be `spectrum.getCalibrated()` perhaps, and then `spectrum.calibrate` would become permanent (and include the `spectrum.load()` call as shown in the README example.

[2016-07-13 22:44] jywarren opened #48 "disallow multiple "calibration" operations"
I've noticed that some people may add many redundant and overlapping operations to a spectrum, adding a great deal of overhead which has no analytical function, and which may cause extreme slowness -- for example multiple linearCalibration operations.

For example: https://spectralworkbench.org/spectrums/83225 seems to have over 1000 tags?

While https://spectralworkbench.org/spectrums/83251 has s

[2016-07-19 21:06] jywarren opened #49 "Division symbol causes route error for snapshot request, OR snapshot request is not splitting on "$" character"
Please describe your problem in detail, including:

### What happened before you saw the error

I was trying to `blend` spectrum https://spectralworkbench.org/spectrums/83393 (A1) with https://spectralworkbench.org/spectrums/5199 (A2) with the following expression:

    A1/A2

But this generates the path `.../latest_snapshot/12345$A1/A2`. The character `/` messes up the Rails routing system. We sh

[2016-11-28 22:40] jywarren opened #50 "Cannot read property 'wavelength' of undefined on calibration copy"
Please describe your problem in detail, including:

### What happened before you saw the error

A contributor tried to copy this spectrum's calibration:

https://spectralworkbench.org/spectrums/92343

to copy over to this spectrum: https://spectralworkbench.org/spectrums/92347

This was done using the "Copy calibration" button, which generates the power tag `calibrate:92343#25653` (the `#25653` wa

[2018-02-06 08:49] shenzj1994 opened #51 "npm install spectral-workbench failed"
Please describe your problem in detail, including:

### What happened before you saw the error
Run 'npm install spectral-workbench'

### What you expected to happen
It should install, I guess.

### Browser, version, and operating system
Node container in Docker.
Node v9.5.0
(to help reproduce the issue)

### Output
root@6198d100cf95:/data/test# npm install spectral-workbench
npm WARN deprecated no

[2018-02-17 00:24] jywarren commented on #51
Oh, this is no good! Have you figured out a way around it? It's during compiling the `contextify` module: https://www.npmjs.com/package/contextify maybe a more recent version is needed in our package.json or something that depends on `contexify`? Could be worth checking their repository to see if others have seen a similar issue?

[2018-02-17 04:20] shenzj1994 commented on #51
Haven't check these yet but I will take a look later...

[2018-08-01 13:30] jtunis-pg commented on #51
Is there a known package configuration that works around this issue?

[2018-08-01 15:25] jywarren commented on #51
I'm not sure - have you checked on `contextify`'s issue tracker, or potentially a more recent version of contextify? Contextify says it's not longer needed:

Do you know where it's being included?

https://github.com/publiclab/spectral-workbench.js/blob/master/package.json#L26-L29

[2018-08-02 12:50] jtunis-pg commented on #51
Unsure where it's being included. I believe it's a UI-related package. Luckily I only needed the spectral-workbench backend and managed to get a function spectral-workbench.js with only having installed Cairo, and the Canvas and Request npm packages.

[2018-10-17 16:52] avsingh999 opened #54 "Remove extra search option"
there are two search option
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/25536022/47102595-c6437780-d25a-11e8-87f7-c6cfd2fc0370.gif)

### What happened before you saw the error

### What you expected to happen
one search option should be remove

### Browser, version, and operating system
firefox ubuntu 16.04 LTS
(to help reproduce the issue)

For bug reports, fill out the ab

[2018-10-17 17:05] avsingh999 opened #55 "button's are collapse in upload section"
https://spectralworkbench.org/upload# short and full resoltuion button looks like this
![issu2](https://user-images.githubusercontent.com/25536022/47103193-59c97800-d25c-11e8-9ecb-003467d67580.png)

### What happened before you saw the error

### What you expected to happen

### Browser, version, and operating system

(to help reproduce the issue)

For bug reports, fill out the above template; for

[2018-10-17 17:06] avsingh999 commented on #55
@jywarren @SidharthBansal @ebarry  please look this issue and add label
thank you

[2018-10-17 17:08] avsingh999 commented on #54
@jywarren @SidharthBansal @ebarry  please look this issue and add label if this is valid
thank you :)

[2018-10-18 01:57] jywarren commented on #55
I'll look at this soon but I'm very exciting that you're interested in this
repository!!!

On Thu, Oct 18, 2018, 1:07 AM Avkaran Singh <notifications@github.com>
wrote:

[2018-10-18 04:08] avsingh999 commented on #55
@jywarren  thank you :)

[2018-10-19 14:58] SidharthBansal commented on #54
Can you please send screenshot of the page we get after searching a particular text. I guess then there will be only a single search option.
Thanks for ui suggestion.

[2018-10-19 15:05] SidharthBansal commented on #55
Can you please make this gci issue? May be gci fto using fto template?

[2018-10-22 20:42] SidharthBansal commented on #54
@jywarren which one should be removed?

[2018-10-22 20:45] SidharthBansal commented on #54
This task is published on GCI dashboard. Thanks all.

[2018-10-22 20:47] jywarren commented on #54
Hmm, this is hard because the one in the header appears on /all/ pages, but only if you click it.

I guess the way to solve this would be to have it check if there is already a search input on the page. If there is not, it displays the extra one. If there is, it puts the cursor in the existing one.

How does that sound?

[2018-10-22 20:50] SidharthBansal commented on #54
Sounds great to me.
70 tasks published. Just we need 5 more tasks, then we are done. I need to do my job in the best way.

[2018-10-25 15:31] CodeSarthak commented on #55
Can someone share a link to the source file for this error?

[2018-10-25 15:55] codesterlife commented on #55
I would like to claim this task as apart of GCI

[2018-10-25 16:41] jywarren commented on #55
I think it'll be on this page!
https://github.com/publiclab/spectral-workbench/blob/main/app/views/capture/index.html.erb
Thank you!

On Wed, Oct 17, 2018 at 1:06 PM Avkaran Singh <notifications@github.com>
wrote:

[2018-10-28 13:52] codesterlife commented on #55
I dont know what to do in this task exactly.

[2018-10-28 13:53] codesterlife commented on #55
please help @avsingh999 @jywarren @SidharthBansal

[2018-10-28 13:58] codesterlife commented on #55
help

[2018-10-28 21:31] avsingh999 commented on #55
@codesterlife  I my view you need to add space between that button's.

[2018-10-28 21:32] avsingh999 commented on #55
@jywarren @SidharthBansal  what do you think about this button's.
thanks :)

[2018-10-31 00:04] jywarren commented on #55
I'm sorry, i was wrong about the code link! Here it is:

https://github.com/publiclab/spectral-workbench/blob/aa0975fa8c805bc0fde200bd8df11c5325cc8aad/app/views/spectrums/new.html.erb#L128-L129

You need to add some space (using inline CSS is fine!) between those two buttons, as shown in the code. I hope that helps!

[2018-11-03 14:33] prajwalkpatil commented on #54
where should the changes be made?
i am GCI- candidate

[2018-11-03 15:16] prajwalkpatil commented on #55
Hi, I am GCI - candidate
and i've done all the required changes here is my pull request-
https://github.com/publiclab/spectral-workbench/pull/417

[2018-11-03 15:16] prajwalkpatil commented on #55
please review..

[2018-11-13 21:33] jywarren opened #56 "Port "capture" interface into this library from main spectral-workbench project"
The live Capture interface is a great thing to bring into here -- https://spectralworkbench.org/capture

https://github.com/publiclab/spectral-workbench/blob/main/app/views/capture/_capture.html.erb and other files in that directory are the HTML portion.

The JavaScript is in https://github.com/publiclab/spectral-workbench/blob/main/app/assets/javascripts/capture.js

The first attempt, we can just

[2018-11-13 21:34] jywarren commented on #16
I've broken out an initial step for this in #56 -- to simply port over the existing `capture.js` file from `spectral-workbench`, and hook it up. Later, we can do tighter integration!

[2018-11-13 22:38] jywarren commented on #56
I think this would do to get a Pi running:

[code]

This could be seriously improved by getting the preview window working. But it'll do OK for starters. I think the images could be drawn to the `<video>` element too... but all this is a follow-up issue, don't worry about this just yet.

[2018-11-15 15:01] jywarren commented on #56
OK, I've done a very minimal initial implementation here: https://github.com/publiclab/spectral-workbench.js/pull/57

This needs a good bit of work, but is successfully getting video from the webcam and graphing.

[2018-11-15 15:02] jywarren commented on #56
It still needs debugging, as well as better separation of basic UI from the integration with the parent server Rails code. Ideally the specific interface connections would be set up via a more standardized set of HTML elements with unique IDs, which would be bound to abstracted features of the capture code. Right now, it's all munged together!

[2018-11-15 15:02] jywarren commented on #56
But an initial step could be to comment out server-specific code and connect it up for us on the Raspberry Pi, and stand-alone in github pages.

[2018-11-15 15:11] jywarren commented on #56
We'll also want this code to produce data in the formats described in https://github.com/publiclab/spectral-workbench.js#usage

[2019-01-03 18:37] jywarren opened #71 "Enable resolution changes with getUserMedia API options"
Related to:

https://github.com/publiclab/infragram/issues/39

We can apparently specify different resolutions!

[code]

Options at:

https://github.com/publiclab/spectral-workbench.js/blob/f6d023035ad21ee344f005ba1439bfb7ea3707dd/examples/capture/capture.js#L126-L137

[2019-01-27 13:57] jywarren commented on #56
Hi @dhiraj240! Thanks for your interest! We don't really reserve projects, but you are very welcome to indicate this as the subject of your GSoC proposal, and that would be great!

I think there are some proposals for neural network or machine learning models, and i think there is some potential for this, but I think perhaps it makes sense for such ideas to be implemented in parallel as swap-in al

[2019-01-27 14:01] jywarren opened #75 "Add "capture" variant code for Raspberry Pi camera streaming"
This is an example of how a webpage running on a Raspberry Pi (using code compiled via http://publiclab.org/pi-builder, for example), with a camera attached, can stream camera video directly into a WebRTC app like this one:

https://github.com/publiclab/infragram/blob/f558241119145a0b1246832a2e86c7d75268c71b/pi/index.html#L185-L191

Let's port this into an alternative version of the capture code (

[2019-01-27 14:02] jywarren commented on #75
Also see this one! https://github.com/publiclab/spectral-workbench.js/issues/75

[2019-01-27 14:02] jywarren commented on #56
Also interesting! https://github.com/publiclab/spectral-workbench.js/issues/75

[2019-01-28 18:12] Dhiraj240 commented on #56
Hmm. Things look more clearer to me.But right now i am confused as from where should i start ?
Should i be working on connecting raspberry pi as suggested above.

[2019-01-28 18:20] jywarren commented on #56
I think the best course would be to start refactoring the capture code to
follow a structure similar to the code in, say, publuclab/image-sequencer -
something that gets built with browserify, and has tests, so we can get the
under the surface stuff better organized and easier to read and maintain,
then work on the integration parts. Does this make sense?

On Mon, Jan 28, 2019, 3:13 PM Dhiraj Shar

[2019-01-28 18:31] Dhiraj240 commented on #56
Okay, things seem clearer now !! i will start working over it.I had a long gap since i joined this organisation and now i got something to prove.
Thank You Sir !! :smile:

[2019-01-28 18:57] jywarren commented on #56
Thank you too, and let's work on this in small pieces please, so that we
can collaborate! There are others who join our weekly check ins that have
done architectural work on breaking up and restructuring libraries, most
recently in image sequencer. Say hello in the check in and see if others
can offer some help!

On Mon, Jan 28, 2019, 3:32 PM Dhiraj Sharma <notifications@github.com wrote:

[2019-02-23 06:31] Dhiraj240 commented on #56
@jywarren  I have started refracting the ```capture.js``` code file. I will submit my PR by tomorrow, should i send the PR without getting assigned.
If not then assign this issue and #75  to me. After a hard time i configured my Pi. :smile:

[2019-02-23 08:27] Dhiraj240 opened #77 "Installation issues"
[code]
Need help on installation. @jywarren  is it possible that you can guide via a gif or video.

[2019-02-28 00:00] jywarren commented on #56
oh good to hear it! Great!!! Good luck and looking forward to it!!!

On Sat, Feb 23, 2019 at 1:32 AM Dhiraj Sharma <notifications@github.com>
wrote:

[2019-02-28 00:01] jywarren commented on #77
Hmm... i wonder if this is related to using sudo? Can you try without sudo?

On Sat, Feb 23, 2019 at 3:28 AM Dhiraj Sharma <notifications@github.com>
wrote:

[2019-03-04 10:20] Dhiraj240 commented on #77
i get the below one  using npm install
[code]

[2019-03-04 22:11] jywarren commented on #77
Oh, hmm, that seems like it may be a nodejs installation issue? Do you have
nodejs installed and running normally? If not, I can help with that!

On Mon, Mar 4, 2019 at 5:20 AM Dhiraj Sharma <notifications@github.com>
wrote:

[2019-03-06 03:43] Dhiraj240 commented on #77
It is installed and working.

[2019-03-18 16:24] ebarry commented on #55
This issue appears to have been solved, can someone confirm and potentially close? thanks!

[2019-03-28 18:02] jywarren opened #87 "Update getUserMedia WebRTC library for broader browser compatibility (+ iOS)"
http://publiclab.org/spectral-workbench#Browsers lists:

Linking here; we should be able to support:

* [ ] Safari desktop
* [ ] iOS (soon, as we hear getUserMedia is now supported on iOS???)

Let's discuss/plan/collect information here!

This would also be possible to port back to https://github.com/publiclab/spectral-workbench/ once implemented here.

[2019-03-28 18:03] jywarren commented on #87
Relates to: https://github.com/publiclab/spectral-workbench/issues/104, https://github.com/publiclab/spectral-workbench/issues/353, #71

[2019-03-29 14:18] sidntrivedi012 commented on #87
@jywarren I found out that the camera capture is not working on firefox quantum as well as the firefox nightly browser. Implement this cross-browser compatibility is very important since a lot of people don't use Chrome/Chromium since these browsers are quite heavy to work on their machine.

Please guide me as to how to implement this. Would like to work on it.

[2019-03-29 15:07] sidntrivedi012 commented on #87
![Peek 2019-03-29 20-33](https://user-images.githubusercontent.com/31186013/55242065-78e42100-5262-11e9-8fad-66ec8fb9bb2e.gif)

[2019-03-29 15:08] sidntrivedi012 commented on #87
The camera was not starting even after giving it the permission. An error was popping up in the console - `navigator.mozGetUserMedia has been replaced by navigator.mediaDevices.getUserMedia`

[2019-03-29 19:23] jywarren commented on #87
Hi! I think we need to identify a replacement for the getUserMedia shim we're using here:

https://github.com/publiclab/spectral-workbench.js/blob/a062b8d45bacfe5e2c202a3a60deca8c60d9c65c/examples/capture/index.html#L18

https://github.com/publiclab/spectral-workbench.js/blob/a062b8d45bacfe5e2c202a3a60deca8c60d9c65c/package.json#L32

There are a number of other shim libraries out there. Let's find

[2019-03-31 06:07] sidntrivedi012 commented on #56
@jywarren Have you completed the porting of the javascript part of SWB in #57 ?

[2019-04-08 00:54] jywarren commented on #56
No, i haven't!

[2019-04-09 04:40] sidntrivedi012 commented on #56
Ok, just wanted to confirm. Thanks :slightly_smiling_face:

[2019-04-16 16:59] jywarren opened #91 "turn off autoGainControl in webcams"
https://w3c.github.io/mediacapture-main/getusermedia.html#media-track-constraints shows that at least the spec contains this!

It'd probably involve passing constraints like this:

[code]

[2019-04-23 21:10] sidntrivedi012 commented on #91
@jywarren Would like to work on this. Can you guide me about the file where  this change should be made? I tried to find but couldn't.

[2019-05-11 03:22] sidntrivedi012 opened #92 "PLANNING ISSUE : Spectral Workbench Capture"
Planning issue for the roadmap to completing the Spectral Workbench Capture project.

The major tasks to be implemented are as follow:
- [x] Refactoring and Integration
- [x] Testing
- [x] Consolidation and Testing of API for search, matching, etc.
- [x] Making an npm module
- [x] Development of React app around basic ui modules .

However, I will also be dividing these major tasks into subtasks i

[2019-05-13 15:25] SidharthBansal commented on #92
Thanks @sidntrivedi012 for opening up a planning issue. It will be great if you can break this issues so that we can introduce modularity and fix things in baby steps.

[2019-05-13 15:25] SidharthBansal commented on #92
Please add appropriate labels like `gsoc` etc.

[2019-05-13 20:20] sidntrivedi012 commented on #92
@SidharthBansal I think I don't have the access to add labels. The option to add labels is not popping up.

[2019-05-13 20:22] Harshithpabbati commented on #92
Mmm wait let @jywarren add you to the collaborator. So that you will have access to add labels.

[2019-05-13 21:16] sidntrivedi012 commented on #92
Sure. @Harshithpabbati :+1:

[2019-05-16 22:02] jywarren commented on #87
@sidntrivedi012 I was wondering if you'd consider prioritizing the part of your project which updates the getUserMedia component? Because a recent change in Chrome for Android means we can no longer switch from the front camera to the back camera on a smartphone. So, people using these papercraft spectrometers now have a much harder time: https://publiclab.org/papercraft-spectrometer

[2019-05-16 22:03] jywarren commented on #87
Either by trying to get an early version of your project using this fix to production in "beta" mode sooner, or, potentially trying to apply the fix to the existing codebase in parallel to developing the stand-alone library. I'm not sure what would be better?

[2019-05-25 12:43] Dhiraj240 commented on #92
@sidntrivedi012 Have you thought of sub-dividing the above tasks? The coding period is near and as per your proposal work on dividing "Refactoring and Integration" task, so that you can start efficiently.

[2019-05-25 17:52] jywarren commented on #92
I've added you all as collaborators! And, I hope this makes sense but I protected the main branch. Let's be sure to get reviews from me for at least the first few merges to main as we get used to the workflow. Sound good? Thanks all!

[2019-05-25 17:57] jywarren commented on #92
also noting https://github.com/publiclab/plots2/issues/5794 as we get organized!

[2019-05-25 22:08] starkblaze01 commented on #92
Yeah sure @jywarren .
And, I guess Cross Domain Session in production is working fine with SWB PR being merged?

[2019-06-11 17:57] jywarren commented on #56
Hi @sidntrivedi012 just copying in helpful links from the Open Call!

spectralworkbench.org - spectralworkbench.org/capture
- making a spectrometer to test : https://publiclab.org/papercraft-spec
- Complete the refactoring of capture part into spectral-workbench.js
- https://github.com/publiclab/spectral-workbench.js/pull/57
- https://github.com/publiclab/spectral-workbench.js/tree/main/examples/c

[2019-06-11 18:04] jywarren opened #95 "Error in capture demo"
Seeing this error on the capture demo at: https://publiclab.github.io/spectral-workbench.js/examples/capture/

[code]

cc @sidntrivedi012 @starkblaze01

[2019-06-17 15:39] sidntrivedi012 commented on #95
The `jquery.flot.js` file has this snippet at 135 line :

[code]
This is the error that is being shown on the console.
The line that is causing error in the `capture.js` file :
[code]
There is something wrong with the plotting of the graph. Looking into it.

[2019-06-17 16:28] starkblaze01 commented on #95
Cool!
Can you verify why width = 0 is passed in the data

[2019-06-17 16:56] jywarren commented on #95
So the line where the error is originating (from the last line of the pasted error above) is:

https://github.com/publiclab/spectral-workbench.js/blob/a062b8d45bacfe5e2c202a3a60deca8c60d9c65c/examples/capture/capture.js#L341

Tracking down these lines and getting the permalink and inline code display is really helpful for leaving good notes about your progress, so I recommend it!

[2019-06-17 16:57] jywarren commented on #95
Perhaps the thing to do is to try logging out `flotoptions` above this line. Then to as @starkblaze01 suggests, trace back to where `width` is being generated.

[2019-06-17 17:02] jywarren commented on #92
I wanted to note that we could do some more granular task listing here. Maybe:

* [ ] resolving basic bugs with current local capture (starting with #95)
* [ ] publishing `gh-pages` demo of capture working!
* [ ] starting a new branch where the `/examples/capture/capture.js` code is compiled in https://github.com/publiclab/spectral-workbench.js/tree/main/src, in a file called `SpectralWorkbench.Ca

[2019-06-17 17:07] sidntrivedi012 commented on #92
Sure @jywarren. This will be really helpful. Thanks a ton. 🎉

[2019-06-17 17:22] starkblaze01 commented on #92
Sounds great @jywarren ,
Also, @sidntrivedi012 make sure to create small modules one by one according to functionality and replace it by exporting in the file, and after testing the module move on to next function to make it easy to trace back for any errors while implementing.

[2019-06-17 19:24] sidntrivedi012 commented on #95
Sure, will keep in mind from the next time.Thanks 🙂

[2019-06-17 19:26] sidntrivedi012 commented on #92
Ok @starkblaze01 . 👍

[2019-06-17 20:34] sidntrivedi012 commented on #95
Whenever I am changing the width here to like a `px` value like 100 px, it is working fine. But in case of `width:100%`, it is giving errors. https://github.com/publiclab/spectral-workbench.js/blob/a062b8d45bacfe5e2c202a3a60deca8c60d9c65c/examples/capture/index.html#L215

[2019-06-19 15:17] jywarren commented on #95
Hi, what are the errors exactly? This is odd. But... wait, is flot using a
canvas? this could be the issue. Can you look at how it's working on
spectralworkbench.org for comparison?

On Mon, Jun 17, 2019 at 4:35 PM Siddhant N Trivedi <notifications@github.com>
wrote:

[2019-06-19 15:35] sidntrivedi012 commented on #95
Sure @jywarren. Also, adding to this there's also one more error popping up :
[code]

[2019-06-19 15:47] jywarren commented on #95
OK, that one is where it's trying to fetch recent calibrations from the server. So we'll need to refactor it to accept a constructor parameter on this line:

https://github.com/publiclab/spectral-workbench.js/blob/a062b8d45bacfe5e2c202a3a60deca8c60d9c65c/examples/capture/index.html#L340-L346

And then save it in the initialize method:

https://github.com/publiclab/spectral-workbench.js/blob/a062b8

[2019-06-21 16:47] cryptoclidus commented on #95
I think I got why it's defaulting to 0 when you set width to 100%:

On the html, there are two divs with class="tab pane", with id="settings" and id="capture". the tab pane "settings" is by default active, so capture is inactive (screenshot). So by default, "display:none" for the entire capture tab pane.

This means that any div with no specified width, or min width, (e.g. the elements with width:

[2019-06-21 16:58] cryptoclidus commented on #95
That's also why when you click "Begin Capturing" and the display switches to the "capture" tab pane, the error goes away

[2019-06-21 21:08] jywarren commented on #95
Thanks so much for your help! Siddhant how does this look?

On Fri, Jun 21, 2019 at 12:58 PM Jasmine Mah <notifications@github.com>
wrote:

[2019-06-22 23:35] cryptoclidus commented on #95
Another thought on this: while setting the min-width:1 px is a quick and easy fix, this error is evidence that the program is repeatedly trying to draw the graph, when the graph isn't even being displayed. While it might not really have a substantial effect on performance, is it really necessary to draw the graph when the user is not on the "capture" tab pane? So a more complex fix might be to fin

[2019-06-23 00:35] cryptoclidus opened #97 "Feature Proposal - Capability to accept Raspberry Pi images in alternative image formats"
While trying to figure out the best way to get data from the raspberry pi, one concern is that the jpg format of images is negatively affecting the data. I'd like to explore this topic, but with feedback because if I go ahead with it, I want to make sure it integrates nicely with existing applications (e.g. infragram, spectral workbench capture utility)

### Problem Description
The Pi Cam Web Inte

[2019-06-25 23:01] jywarren commented on #95
@sidntrivedi012 can you please check in on this? Thanks @cryptoclidus !!!

[2019-07-14 12:54] jywarren commented on #75
Would you like to open a new PR which adds a button (labelled "Connect to Raspberry Pi") to the start screen, using the following code?

https://github.com/publiclab/infragram/blob/main/pi/index.html#L185-L191

We'll have to adjust this line to correctly send the video data from a raspberry pi camera to the spectral Workbench code:

`infragram.options.processor.updateImage(piImage);`

We can make

[2019-07-14 12:59] jywarren commented on #95
Solved in #102!!!

@sidntrivedi012 great work.

[2019-07-14 12:59] #95 closed

[2019-07-14 13:09] jywarren commented on #87
@sidntrivedi012 would you try this code to get this working on iOS?

https://github.com/processing/p5.js/pull/2147/files

[2019-07-14 13:09] jywarren commented on #87
Do you have a version of Safari on iOS or Mac os to test?

[2019-07-14 15:44] jywarren commented on #87
Here's a great article on webrtc adapters and what they're for!

https://bloggeek.me/webrtc-adapter-js/amp/

[2019-07-15 13:04] jywarren commented on #75
If you get stuck because you don't have a pi camera, what you can do is just point it at a local image instead of the video source. So instead of this:

[code]

You can just point at a local image:

[code]

Then that'll let you test the code!

[2019-07-16 18:58] sidntrivedi012 commented on #75
@jywarren Do I have to add the button to the example page of capture or on the start screen of spectralworkbench webapp?

[2019-07-16 19:07] jywarren commented on #75
Just the capture screen!

On Tue, Jul 16, 2019, 2:59 PM Siddhant N Trivedi <notifications@github.com>
wrote:

[2019-07-16 19:10] jywarren commented on #75
Like here, maybe next to "camera selection"?

![Screenshot_20190716-150905](https://user-images.githubusercontent.com/24359/61322505-d5e8f000-a7db-11e9-8b55-58bcf0ab6d22.png)

[2019-07-16 19:13] sidntrivedi012 commented on #75
Sure, thanks @jywarren. Adding it.

[2019-07-16 19:22] sidntrivedi012 commented on #75
![Screenshot 2019-07-17 at 12 51 46 AM](https://user-images.githubusercontent.com/31186013/61323247-1ae94280-a82d-11e9-9eac-8fc183000f83.png)

[2019-07-16 19:22] jywarren commented on #75
Awesome, thanks!

On Tue, Jul 16, 2019, 3:13 PM Siddhant N Trivedi <notifications@github.com>
wrote:

[2019-07-16 19:22] sidntrivedi012 commented on #75
![Screenshot 2019-07-17 at 12 50 37 AM](https://user-images.githubusercontent.com/31186013/61323271-28063180-a82d-11e9-823d-f62ecdb8c254.png)

[2019-07-16 19:22] sidntrivedi012 commented on #75
@jywarren Which one looks better?

[2019-07-16 19:25] starkblaze01 commented on #75
😅The second one looks better but it more sense to keep it along with selecting a camera.

[2019-07-16 19:29] jywarren commented on #75
Hm maybe we make it not a priority button and it'll not call as much
attention as the "start" button... But yeah I think I agree with Mayank.
Great!

[2019-07-16 19:33] sidntrivedi012 commented on #75
Thanks @starkblaze01. Made a PR #103 to make sure that this issue is solved in it.

[2019-07-16 19:53] sidntrivedi012 commented on #75
@jywarren In order to add the infragram code into the capture part, I need to add infragram-js. Should I directly copy it from https://github.com/publiclab/infragram/blob/main/dist/infragram.js ?

[2019-07-16 20:06] starkblaze01 commented on #75
@sidntrivedi012
No, it is already published as node mudule package.
Simply do ```npm i infragram```
I think that will work

[2019-07-16 20:07] sidntrivedi012 commented on #75
Sure @starkblaze01 . Thanks. 🙂

[2019-07-17 20:53] sidntrivedi012 opened #104 "Make the graph div responsive in the demo."
@jywarren Can we have this as a first-timers-only issue?

Only some media queries have to be implemented in the `capture.css` file in the `examples/capture` directory.

[2019-07-17 21:10] sidntrivedi012 opened #105 "Add Code of Conduct"
@jywarren Should we add a CoC in this project?

[2019-07-17 21:11] sidntrivedi012 commented on #105
We can display it as a first-timers issue? Not for the discussion but the implementation part?

[2019-07-19 16:51] jywarren commented on #104
This would be SUPER! Please go ahead and open one and we can review!

[2019-07-19 16:51] jywarren commented on #105
This would be really nice!

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or repostin

[2019-07-19 17:28] jywarren commented on #92
This is looking great in the gh-pages demo! https://publiclab.github.io/spectral-workbench.js/examples/capture/

![image](https://user-images.githubusercontent.com/24359/61553716-0f626b00-aa29-11e9-96ec-18dad674a8c2.png)

Seems like the download button isn't working, however?

[2019-07-19 17:32] sidntrivedi012 commented on #105
I think I should solve this issue myself since its not wise for someone to add code of conduct as a first timer. Indeed, a project should have it there beforehand. Thus, adding one myself. Thanks!

[2019-07-19 17:33] sidntrivedi012 commented on #104
Sure, making one. Thanks 😃

[2019-07-19 17:34] jywarren commented on #105
Ok, that makes sense! Thanks!

On Fri, Jul 19, 2019, 1:32 PM Siddhant N Trivedi <notifications@github.com>
wrote:

[2019-07-19 17:37] sidntrivedi012 commented on #92
@jywarren Should I open an issue for it and try solving it?

[2019-07-19 17:38] sidntrivedi012 commented on #92
@jywarren Also, I need help for solving #75. I am facing an error when using the infragram code in capture's html file. I have mentioned the error here - https://github.com/publiclab/spectral-workbench.js/issues/75 as well on the gitter channel. Please take a look. Thanks 🙂

[2019-07-19 19:00] sidntrivedi012 opened #108 "Download button not working in demo."

[2019-07-19 19:09] sidntrivedi012 commented on #108
![demo-download](https://user-images.githubusercontent.com/31186013/61559171-b3c6ca80-aa86-11e9-9e66-d6804bc6b3de.gif)

[2019-07-19 19:15] jywarren commented on #108
Aha! It's a security issue! I think there are ways around this. Perhaps we need to replace the button with a "generate download" button that gets replaced with a button with the dataurl as the href. That way it's not a script opening it directly which is the security issue?

Great job posting the gif. It's a super way to document the bug!

[2019-07-19 20:06] sidntrivedi012 commented on #108
@jywarren I just opened spectralworkbench.org to check if the Download button was working fine there. But, the capture functionality is not working there for me.
![wbench](https://user-images.githubusercontent.com/31186013/61562368-ce04a680-aa8e-11e9-83e4-727ed2497fbb.gif)

[2019-07-19 21:43] jywarren commented on #108
Ah - so this may be an issue affecting the live site as well -- and we
should be able to re-apply our fix from here to that site as well.

On Fri, Jul 19, 2019 at 4:07 PM Siddhant N Trivedi <notifications@github.com>
wrote:

[2019-07-19 22:02] sidntrivedi012 commented on #108
@jywarren I think the error is related to the cache file.
[code]

[2019-07-19 22:03] sidntrivedi012 commented on #108
Its pointing to these lines of code in `capture` :
[code]

[2019-07-19 22:32] jywarren commented on #108
I think this is the relevant error --

![image](https://user-images.githubusercontent.com/24359/61568931-1f8f4000-aa53-11e9-8561-55e99bcbb67d.png)

See how it says it's not allowed to open a data url? It's because we did so from javascript, not from a user interaction. I believe this is a new security restriction: https://bugs.chromium.org/p/chromium/issues/detail?id=684011&desc=2

So, try making

[2019-07-19 22:33] jywarren commented on #108
Here's another approach, too! https://stackoverflow.com/questions/57039649/open-or-redirect-to-base64-dataurl-via-jquery-or-js

[2019-07-19 22:41] jywarren commented on #75
Hi all! I'll leave comments in the PR here as it'll be easier to note lines of code: https://github.com/publiclab/spectral-workbench.js/pull/103 Thanks!

[2019-07-21 05:28] sidntrivedi012 commented on #77
@Dhiraj240 I was facing this and solved it by `npm i grunt@~0.4.0`.

[2019-07-21 05:30] sidntrivedi012 commented on #77
The grunt error was resolved but the `node-gyp rebuild` error related to `contextify` still persists.
[code]

[2019-07-21 19:59] #104 closed

[2019-07-21 20:00] sidntrivedi012 opened #110 "The graph div should be made responsive."
We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.

In [spectral-workbench.js](https://github.com/publiclab/spectral-workbench.js) for `capture` part we have set the graph width to `1024px` here : https://github.com/publiclab/spectral-wor

[2019-07-21 20:02] sidntrivedi012 commented on #104
Opened a fto issue here - #110 . Thanks.

[2019-07-21 20:17] sidntrivedi012 commented on #110
We have a `graph` div here -
https://github.com/publiclab/spectral-workbench.js/blob/07014a8d41c98acfbe21104f6ae991e6361f7435/examples/capture/index.html#L215
This div is styled in the `capture.css` file here -
https://github.com/publiclab/spectral-workbench.js/blob/07014a8d41c98acfbe21104f6ae991e6361f7435/examples/capture/capture.css#L40-L44
But, the graph is not yet responsive in different scree

[2019-07-22 08:50] dimkov41 commented on #110
Which screen sizes you want to cover? All from the published link?

[2019-07-22 10:11] sidntrivedi012 commented on #110
@dimkov41 Hey, thanks for reaching out for this fto issue.

Yes, you can try for maybe start with implementing media queries for small screen sizes like 320px and 480 px ? Having done that, you can add queries for big screen sizes of 768px and 1024 px too.

If you face any issue, feel free to ping. Thanks. 🎉 🎈 🔬 💯

[2019-07-22 10:16] sidntrivedi012 opened #111 "Add npm version badge to the README."
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-07-22 10:20] sidntrivedi012 commented on #111
Adding badges to the readme gives first-timers and old-timers an at-a-glance peek into the status of the project.

Thus, in order to add a badge, you can checkout some badges and their customizations here - https://shields.io/category/version.

Also, the npm package of `spectra-workbench.js` can be found here - https://www.npmjs.com/package/spectral-workbench

Thanks 🎉 🎈 🔬 💯

[2019-07-23 07:09] zlv2s commented on #111
Hi may i claim this issue

[2019-07-23 07:30] sidntrivedi012 commented on #111
Hey @zlv2s , thanks for reaching out. Sure, go ahead. 👍

[2019-07-23 08:22] zlv2s commented on #111
Thanks. I'm new at PR, still learning the workflow ☺️

[2019-07-23 08:32] dimkov41 commented on #110
I can't start project. Sorry! It can't find some module: Error: Cannot find module 'uri-js'

[2019-07-23 19:26] sidntrivedi012 commented on #110
Hey @dimkov41 , can you please share the whole error message? Also, we have to add the responsive nature to the `graph` div which is present in index.html file in the `examples/capture` directory.

[2019-07-23 21:30] sidntrivedi012 opened #113 "Fix a typo in the demo"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-07-23 21:34] sidntrivedi012 commented on #113
We have our demo located in the `example/capture` directory. Unfortunately, `Browser` is mistakingly written as `Bowser`. It will be very helpful if you can correct it and thus, get started with knowing more about the project.
![Screenshot 2019-07-24 at 2 58 46 AM](https://user-images.githubusercontent.com/31186013/61749050-68325a80-adbf-11e9-8793-e28040b13e09.png)

Thanks ! 🎉 🎈 💯 🔬

[2019-07-23 21:52] Lionel-Stewart commented on #113
Hi, I am a first-timer, and would like to work on the issue or help.

[2019-07-23 21:53] sidntrivedi012 commented on #113
Sure @Lionel-Stewart . Go ahead. 💯 👍

[2019-07-23 22:01] sidntrivedi012 commented on #77
Issue resolved by updating all the packages. Maybe one of the outdated packages would be using contextify as a package but, now it has been included in the Node core after v0.12 . Got this feedback from the issue - https://github.com/nodejs/node-gyp/issues/1837

[2019-07-23 22:01] Lionel-Stewart commented on #113
I fixed the type in html, but the href link https://itunes.apple.com/us/app/bowser/id560478358 also has bowser in it. Just checking, but do I fix the link as well, or just the html.

[2019-07-23 22:12] Lionel-Stewart commented on #113
Alright I just submitted first pull request, hope that is satisfactory. Thanks for the experience and easy task for first try.

[2019-07-23 22:14] sidntrivedi012 commented on #113
@jywarren , Shouldn't that be Browser? Actually, it didn't show up in my iTunes market thus, I suspected it to be a typo.

[2019-07-23 22:15] sidntrivedi012 commented on #113
@Lionel-Stewart Awesome. Lets see what Jeff has to say about this and then we can review you PR. Thanks.

[2019-07-24 08:37] honeykhatri commented on #113
Hi I am a first timer and I would like to fix this issue

[2019-07-24 10:14] Sliver-bug commented on #113
Hi, i am a first timer and would like to fix this issue.

[2019-07-24 10:21] sidntrivedi012 commented on #113
Hey @honeykhatri @Sliver-bug ,

@Lionel-Stewart has already sent a patch for this issue. But, its really great that you reached out to help us. We appreciate it a lot. There are a lot of first-timers-only issues waiting to be solved and taken up not only in this project but many other interesting projects of Public Lab. You can find them in our Community Toolbox - https://code.publiclab.org . Go a

[2019-07-24 10:24] Sliver-bug commented on #113
Thanks, will be in touch

[2019-07-24 21:16] sidntrivedi012 commented on #111
Sure, @zlv2s . It was great that you sent the PR from a different branch than the main branch of your fork. Also, there are many first-timers-issues in many other awesome projects of Public Lab waiting to be solved. You can find them in our Community Toolbox here - https://code.publiclab.org . Go ahead.

Thanks. 🎉 💯

[2019-07-24 21:31] #111 closed

[2019-07-27 10:35] starkblaze01 commented on #110
Hi, @dimkov41, have you installed node modules?. Please run
```npm i``` or ```npm install``` then restart the project.

[2019-08-05 21:10] sidntrivedi012 commented on #110
@dimkov41 Are you still working on it? Any updates?

[2019-08-11 17:11] dimkov41 commented on #110
No. I don't work on it, because I can't start the project as I told before.

gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/share/node-gyp/lib/build.js:258:23)
gyp ERR! stack     at emitTwo (events.js:126:13)
gyp ERR! stack     at ChildProcess.emit (events.js:214:7)
gyp ERR! stack     at Process.ChildProcess._handle.onexit (internal/child_proc

[2019-09-08 17:18] sidntrivedi012 opened #126 "Add Contributing Guide to the project."
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-09-09 09:31] sidntrivedi012 opened #129 "Update Issue Template"
We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.

Github has changed the issue template workflow. Thus, we need to make the required changes in our template.

![Screenshot 2019-09-09 at 3 00 27 PM](https://user-images.githubusercontent.

[2019-09-09 10:57] BenKalungi commented on #126
Is someone working on this already???

[2019-09-09 11:00] BenKalungi commented on #126
I would love to claim this issue, where's the file

[2019-09-09 13:46] sidntrivedi012 commented on #126
Hey @BenKalungi ,

So glad that you reached out. I had already made a patch for this issue. But, we have a lot of issues in which we need help. Can you please take a look at #110 ?

Also, you can find more first timer issues at code.publiclab.org.

Thanks. 🎉 👍

[2019-09-09 19:57] gaddeharsha13 commented on #126
Hi is this issue still open? Can I claim it?

[2019-09-10 20:30] AtharvaSune commented on #126
Hi, is this issue still open?

[2019-09-11 04:01] sidntrivedi012 commented on #126
Hey @gaddeharsha13 @AtharvaSune , really great that you reached out. I had already made a patch for this issue. But, we have a lot of issues in which we need help. Can you please take a look at #110 ?

Also, you can find more first timer issues at https://code.publiclab.org.

Thanks. 🎉 👍

[2019-09-11 10:27] AtharvaSune commented on #129
Hi , I would like to work on this issue

[2019-09-13 08:54] DevLukill-pl commented on #110
Is there someone working on this problem ? I am a new in contributing but i can try deal with this if i can.

[2019-09-13 09:00] sidntrivedi012 commented on #110
Hey @DevLukill-pl , please go ahead. If you get it done, do submit a patch.

Also, if you face any problem, ping us here or on the gitter channel. Thanks.

[2019-09-13 16:53] DevLukill-pl commented on #110
@sidntrivedi012 I have a problem with pull request. Further. I don't sure about my actions.
I updated and commited, and created a branch and now i getting this error in console " fatal: unable to access 'https://github.com/publiclab/spectral-workbench.js.git/': The requested URL returned error: 403'.

[2019-09-14 09:42] sidntrivedi012 commented on #110
@DevLukill-pl Maybe you cloned the public lab repository. Instead, you should have cloned your fork.  Can you please tell the whole error message? Or maybe a screenshot of the error and the command which leads to that error.

[2019-09-14 19:23] DevLukill-pl commented on #110
@sidntrivedi012 Oh thanks, exactly i cloned the public lab repository. i've already made a pull request.

[2019-09-19 20:09] subhamX commented on #129
@AtharvaSune @sidntrivedi012 Can I work on this issue if it is not yet resolved.

[2019-09-21 03:15] isa3bel commented on #113
Hi I'm extremely late, but can I still help with this issue?

[2019-09-23 22:40] jywarren commented on #113
Hi! It seems like @muditrustagi perhaps got busy with something else, so yes, we'd love your help!

[2019-09-28 05:32] akiraro commented on #126
Hi, is this issue still open ?

[2019-09-29 03:01] Askat08 commented on #126
Hi there, i'd like to tackle this issue if it's still available or any available issues for beginner.

[2019-09-29 19:55] sidntrivedi012 commented on #126
Hey @akiraro and @Askat08, thanks a lot for reaching out to contribute. This issue has been fixed in #127. But, don't worry we have a lot of issues where we need help. You can check them out here or at https://code.publiclab.org. There are many `first-timers-only` issues waiting to get solved.

Thanks. 🎉 🎈

[2019-10-02 21:25] alexido19 commented on #129
Hello @sidntrivedi012 can I work on this issue if its not been resolved ?

[2019-10-02 21:25] discombobulateme commented on #110
Hello :) @sidntrivedi012 can I fix this issue? I understand last communication by @DevLukill-pl was 18 days ago, so don't know if we could work together or if I could give it a try?

[2019-10-03 02:36] sidntrivedi012 commented on #110
Hey @discombobulateme , I already see a PR for this issue at #132 .

Though, don't worry there are a lot of issues where we need help. You can go to our Community Toolbox (https://code.publiclab.org) and find many first-timers-only issues there filtered by projects.

Thanks for reaching out. 🙂 🎈

[2019-10-03 02:37] sidntrivedi012 commented on #129
Hey @discombobulateme , I already see a PR for this issue at #131 .

Though, don't worry there are a lot of issues where we need help. You can go to our Community Toolbox (https://code.publiclab.org) and find many first-timers-only issues there filtered by projects.

Thanks for reaching out. 🙂 🎈

[2019-10-03 11:38] #77 closed

[2019-10-05 20:55] DylPickle11 commented on #113
Is this still open? I would like to help with this issue.

[2019-10-15 00:09] yomi413 commented on #113
Hi!  It appears that this issue is still open.  How can I help?

[2019-11-09 10:55] starkblaze01 opened #141 "Break capture.js into small function modules and refactor it."
We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.

Code Refactoring is a process of application's restructuring which optimizes its internal structure, but leaves its basic functionality untouched. Being a component of framework developm

[2019-11-11 10:25] Neilblaze commented on #126
Heya @sidntrivedi012 I can see that this issue has been tagged as fto regarding GCI. As you have said that this issue has been fixed before a while in #127 , so for now can you suggest me some tasks or issues that can be solved by a newbie regarding GCI'19? :D

[2019-11-11 10:27] Neilblaze commented on #113
@jywarren  Is it still available/open to work upon? please lmk asap :)

[2019-11-12 19:57] starkblaze01 commented on #110
Uploaded on GCI dashboard

[2019-11-12 19:57] starkblaze01 commented on #141
Uploaded on GCI dashboard

[2019-11-12 20:00] starkblaze01 commented on #129
Uploaded on GCI dashboard

[2019-11-15 16:47] SidharthBansal commented on #110
Please hide stale comments asap.
PUBLISHED ON GCI DASHBOARD

[2019-11-15 16:49] SidharthBansal commented on #141
Please suggest me a reason for higher instance count?

[2019-11-15 16:51] SidharthBansal commented on #129
Please suggest a reason for 2 instance count. Instance count means number of people needed to solve this issue. Also, please label `beginner` too.
Thanks

[2019-11-18 08:33] starkblaze01 commented on #141
Hi, @SidharthBansal. I have kept a higher instance count because of the complexity of code and number of lines. It may so happen a student may not be able to refactor and create separate files for all the functions and then import it. So, he may partially refactor a few parts of the code. But if you think instance count is high I can lower it down. Will 2 be okay?

[2019-11-18 08:52] starkblaze01 commented on #129
Hi, @SidharthBansal. The issue Template for this repository needs to be updated. There might be multiple suggestions and one may be better than others. It will be great to see two students working on it and come up with a better template.

[2019-11-18 12:22] sashadev-sky commented on #110
@SidharthBansal @starkblaze01 @sidntrivedi012 I am coonfused. There is no actual issue to solve written in the issue body?

[2019-11-18 13:33] starkblaze01 commented on #110
Hi, @sashadev-sky. I have updated the comment. Is it fine now?

[2019-11-24 15:01] SidharthBansal commented on #141
PUBLISHED ON GCI DASHBOARD

[2019-11-24 15:02] SidharthBansal commented on #129
PUBLISHED ON GCI DASHBOARD

[2019-11-26 08:22] ananyaarun opened #145 "Add code of conduct badge to readme"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-26 08:30] ananyaarun commented on #145
@SidharthBansal kindly add easy label her.
I am not able to add it in this repo.

[2019-11-26 17:57] starkblaze01 commented on #145
Hi, @ananyaarun I have added a beginner label for it. You can add it to the GCI dashboard now.

[2019-11-28 22:10] ananyaarun opened #146 "Update config.yml file"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our

[2019-11-28 22:42] ananyaarun opened #147 "Update issue templates in SWB"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our

[2019-11-28 22:47] ananyaarun commented on #129
Hey @SidharthBansal , I just opened a new issue for this and realized this was  already published.
This still is not the latest templates.
Can we follow these #147 ?
this has the latest changes as in plots2
Thanks!

[2019-11-29 07:17] SidharthBansal commented on #145
Published

[2019-11-29 07:27] SidharthBansal commented on #147
Published

[2019-11-29 07:27] SidharthBansal commented on #146
Published

[2019-12-02 16:15] #129 closed

[2019-12-02 16:15] SidharthBansal commented on #129
Thanks

[2019-12-11 01:50] EC3x1903 commented on #110
Has anybody claimed this task yet? I would be willing to take this task for GCI.

[2019-12-11 16:37] starkblaze01 commented on #110
Hi, @EC3x1903 thanks for your interest. But this task has already been taken and being solved here https://github.com/publiclab/spectral-workbench.js/pull/149.

[2019-12-13 16:53] #110 closed

[2019-12-13 16:54] starkblaze01 commented on #110
Merged #149

[2020-01-05 05:08] jywarren commented on #141
This is done in https://github.com/publiclab/spectral-workbench.js/pull/148!

OK - next step - let's see -- we actually want all the code in one file, ultimately. What we can do is to install grunt and set up a compilation step that merges these files. That way the source files can be in the /src/ directory and the combined output file can be in /dist/.

This may sound like a lot but it's not too

[2020-01-05 09:14] sidntrivedi012 commented on #141
@jywarren I would like to work on this.

[2020-01-05 09:16] starkblaze01 opened #151 "Get capture.js subfiles compiling into a single file using Grunt"
We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.

We have a file [capture.js](https://github.com/publiclab/spectral-workbench.js/blob/main/examples/capture/capture.js) which is now refactored here in this [PR](https://github.com/publicl

[2020-01-05 09:17] #141 closed

[2020-01-05 09:19] starkblaze01 commented on #141
Great @sidntrivedi012 , well I was thinking of creating it as a new gci-candidate issue. But if you would like to work on this then it's fine. Should I remove the label from the new issue here: #151 ?

[2020-01-05 09:27] sidntrivedi012 commented on #141
@starkblaze01 Sure, I didn't see the gci-candidate label. It will be great if someone would like to work on it. If no one shows up, I would love to help out. Thanks.

[2020-01-05 09:29] sidntrivedi012 commented on #87
@jywarren I would like to work on it. Have also made a PR at #125. Can we start work on it again?

[2020-01-05 10:11] starkblaze01 commented on #151
Uploaded on GCI dashboard

[2020-01-05 12:14] SidharthBansal commented on #151
published

[2020-01-06 04:39] pythongiant commented on #151
I'll work on this @SidharthBansal

[2020-01-06 06:23] SidharthBansal commented on #151
Great thanks

[2020-01-06 14:54] jywarren commented on #141
Hi all! Awesome, thank you!!!

This will make it much easier to get small, discrete upgrades that'll make
good FTOs or just generally easier to review changes. Like upgrading a
version number or swapping in an existing library for a function we
wrote custom.

On Sun, Jan 5, 2020 at 4:32 AM Siddhant N Trivedi <notifications@github.com>
wrote:

[2020-01-06 14:54] jywarren commented on #87
Sure, i'll take a look at that today, thanks!

On Sun, Jan 5, 2020 at 4:29 AM Siddhant N Trivedi <notifications@github.com>
wrote:

[2020-01-14 05:12] starkblaze01 commented on #126
Merged #127

[2020-01-14 05:12] #126 closed

[2020-01-14 05:12] starkblaze01 commented on #105
Merged #127

[2020-01-14 05:12] #105 closed

[2020-01-16 19:51] #151 closed

[2020-05-12 19:12] jywarren opened #159 "Spectral Workbench goals"
## High priority

* modernize getUserMedia integration
* configurable capture resolutions
* replace spectral-workbench capture with the modularized version, as Editor is included in plots2
* develop a stand-alone program from viewer and capture modules
* develop test cases for capture program, such as doing a calibration, detecting overexposure, potentially using pre-recorded video
* create docume

[2020-05-12 19:39] jywarren commented on #51
https://github.com/publiclab/spectral-workbench.js/issues/77 may include some helpful hints...!

[2020-05-26 19:48] jywarren commented on #159
* https://publiclab.org/wiki/spectral-workbench-snapshots
* https://publiclab.org/wiki/spectral-workbench-calibration
* https://publiclab.org/wiki/spectral-workbench-tools
* https://publiclab.org/wiki/spectral-workbench-operations

(working on fixing these videos today, sorry!)

[2020-06-02 15:20] jywarren commented on #159
Just chiming in that the above tutorial videos are all fixed now! cc @alaxalves -- sorry it took a while!

[2020-06-15 01:39] alaxalves commented on #159
OMG @jywarren I was totally unaware of this JS package!! The more I navigate through PublicLab the more I find new stuff. Since this is spectral-related maybe I can find some time in my GSOC schedule to contribute to this too. Thanks for taking time on those tutorials. :smile:

[2020-06-23 21:07] jywarren opened #163 "Reduce use of globals (blocking Node 10 compatibility)"
In #155 we tried bumping to node 10, and got:

[code]

We shouldn't depend on this! Let's fix it and get Node 10 running in our `.travis.yml` file!

[2020-06-23 21:07] jywarren commented on #163
https://travis-ci.com/github/publiclab/spectral-workbench.js/jobs/352845812#L386-L387

[2020-06-23 21:48] jywarren opened #164 "Move all dependencies to npm instead of bower"
Basic installation still requires `bower install` - but we should be able to move everything over to npm, and only require `npm install`! This may require some changes to the examples/index.html file.

https://github.com/publiclab/spectral-workbench.js/blob/0eef53ffdf90d560f807fcc0b0335fd7d43f0a12/examples/index.html#L7-L14

Currently i think these are the only files we use Bower for:

[code]

The

[2020-06-23 21:53] jywarren commented on #164
Most of the deps have already been displayed in package.json, and many in newer versions. See updates in #155.

[2020-06-23 22:14] jywarren commented on #159
:-)

that would be amazing! thanks, Alax!

Just noting that i got this running on Node 8 (https://github.com/publiclab/spectral-workbench.js/pull/165) but node 10 is blocked by a globals usage that may take significant refactoring: #162  -- and that we seem to be limited on how far we can upgrade d3 because of our use of nvd3 wrapper library (read more in #155).

However, i think a lot of the depe

[2020-07-07 20:43] #164 closed

[2020-08-30 18:20] Surajv311 commented on #145
@ananyaarun Can I work on this issue mam?

[2020-08-30 18:28] SidharthBansal commented on #145
Sure

On Sun, 30 Aug 2020, 11:51 pm Suraj_v, <notifications@github.com> wrote:

[2020-09-17 16:14] #87 closed

[2020-09-17 16:16] jywarren commented on #87
This was solved by @chukohsin + team in #172 by using https://github.com/Temasys/AdapterJS !

[2020-09-18 16:19] #145 closed

[2020-09-22 20:47] jywarren opened #178 "Use `facingMode` of `environment` to use rear-facing camera"
https://github.com/publiclab/spectral-workbench.js/blob/8d0526d9c7efbb80b3356582b40ce3546b6c785a/examples/capture/getUserMedia.js#L49

this line didn't work on Android Chrome, in https://github.com/publiclab/spectral-workbench.js/pull/173, but maybe it will on iOS. But in any case let's try variants to get this correctly using the rear-facing camera when possible, by default:

https://developer.mo

[2020-09-29 17:08] jywarren opened #180 "Upgrade d3 or use different graphing library"
Refactoring and using a new graphing library would be a lot of work, because we use d3 in the calibration routines and they are pixel-level CSS tuned with multiple complex drag interactions -- see https://publiclab.org/wiki/spectral-workbench-calibration#Video

However, we have identified a problem with d3 `v3.5.17` and have had to revert to `v3.4.0`. The error is:

![image](https://user-images.gi

[2020-09-30 00:40] jywarren commented on #180
Ahhh, i see-- we upgraded d3 to `v3.5.x` to get past this issue in `v3.4.13` -- https://github.com/publiclab/spectral-workbench.js/pull/162#issuecomment-648405680

So, that issue is blocking us...

[2020-09-30 00:42] jywarren commented on #180
Noting this was caught by @sidntrivedi012 in https://github.com/publiclab/spectral-workbench.js/issues/77#issuecomment-514400086

and it's actually d3's dependency of an old version of `jsdom` that is requiring contextify and causing the error.

Here is where d3 upgraded to a newer `jsdom`: https://github.com/d3/d3/pull/570

[2020-09-30 00:43] jywarren commented on #180
Oh, that's not right, that's d3 `v2.8.0`... looking deeper...

[2020-09-30 00:45] jywarren commented on #180
OK, then here, they went to JSDOM 7/8: https://github.com/d3/d3/issues/2596

[2020-09-30 00:47] jywarren commented on #180
And here, they mention specifically the d3 v3.4 and v3.5 threshold: https://github.com/d3/d3/issues/2578#issuecomment-146892109 and `jsdom` as a dev dependency...

[2020-09-30 00:50] jywarren commented on #180
We could try requiring contextify@v0.1.11 ...

[2020-09-30 00:56] jywarren commented on #180
OK, first version of d3 to make JSDOM optional is actually `v3.5.4` (https://github.com/d3/d3/pull/2225)... trying in https://github.com/publiclab/spectral-workbench.js/pull/175/

[2020-11-06 23:12] jywarren commented on #178
https://developer.mozilla.org/en-US/docs/Web/API/Media_Streams_API/Constraints#Example_Constraint_exerciser some more on this

[2020-11-15 05:37] jywarren opened #182 "Add a Raspberry pi edition"
I think this would do to get a Pi running:

[code]

This could be seriously improved by getting the preview window working. But it'll do OK for starters. I think the images could be drawn to the `<video>` element too... but all this is a follow-up issue, don't worry about this just yet.

_Originally posted by @jywarren in https://github.com/publiclab/spectral-workbench.js/issues/56#issuecomment-43

[2020-11-15 05:38] jywarren commented on #56
I believe this is largely complete in https://github.com/publiclab/spectral-workbench.js/pull/175 !!!

[2020-11-15 05:38] #56 closed

[2020-11-15 05:38] #163 closed

[2020-11-15 05:40] #182 closed

[2020-11-15 05:40] jywarren commented on #75
I think this would do to get a Pi running:

[code]

This could be seriously improved by getting the preview window working. But it'll do OK for starters. I think the images could be drawn to the `<video>` element too... but all this is a follow-up issue, don't worry about this just yet.

_Originally posted by @jywarren in https://github.com/publiclab/spectral-workbench.js/issues/56#issuecomment-43

[2020-11-15 20:30] #178 closed

[2020-11-18 00:10] jywarren opened #190 "Add switch camera, resolution buttons"
Building on #173 #71!

[2020-11-18 00:53] jywarren opened #191 "Add download button to new demo"

[2021-03-30 19:40] jywarren opened #219 "Integrate new Capture interface with upstream Rails application"
Copying in info from https://github.com/publiclab/plots2/issues/9257 !

Our newly revamped and tested library at spectral-workbench.js was designed to work both on its own (https://github.com/publiclab/spectral-workbench.js/) or as a JavaScript component in a larger system, the spectralworkbench.org Rails application. Work on the standalone library is nearly complete and this project will take on

[2021-04-04 13:04] waridrox commented on #219
Hi @jywarren, I wanted to know your thoughts on using rear camera for live capture feed instead of the front camera on mobile devices.
Since, I think with rear camera it is easier for the users to align the spectral data while seeing the full un-obstructed preview on their screens. Or better if we give users the option to switch between front and rear camera perspectives. 🤔

[2021-04-06 14:09] jywarren commented on #219
It's very true - camera direction selection is critical! I believe this can be achieved with the new capture code and I've made a brief note of it here: https://github.com/publiclab/spectral-workbench.js/issues/190

There are links to camera configuration settings there; my understanding is that if we configure it correctly we'll get rear camera as default. I think the ability to 'switch' cameras

[2021-04-11 10:24] tomasko19 opened #222 "Calibration"
Hello,

I bought one spectrometer. I downloaded on my server your code. Everything work well. But on spectrometer are 3 points to calibrate.
px ->nm
Forexample:
31->388.9
616->632.8
1093->837.8

How I can create this calibration for capture mode?

Thank you

[2021-04-11 12:52] tomasko19 commented on #222
![spektrometer](https://user-images.githubusercontent.com/17082856/114304791-5c2b8680-9ad5-11eb-95f2-012abc331d1f.JPG)
I need to the graph show Wavelength

How I can calibrate it?

Thank you

[2021-04-21 21:07] tomasko19 commented on #222
Do anybody know?

[2021-05-10 07:28] adarshkush13 opened #227 "Browser not requesting camera access"
We followed the below installation steps as given in readme file on our ubuntu system version 20.04

- Install Nodejs binaries on Linux
- Install dependencies
sudo apt-get install libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev build-essential g++

- Clone github project
mkdir ~/spectrum
cd ~/spectrum
git clone https://github.com/publiclab/spectral-workbench.js.git

- Install npm packages gl

[2021-06-10 13:16] waridrox commented on #227
Hi @adarshkush13, thanks a lot for reporting that 💯! The camera feed unfortunately does not work with the URLs of the form http://`IP address`:8080/examples/capture.

The following URLs seem to be working fine though:
[code]

[2021-06-23 12:41] skoki25 opened #240 "Calibration with 3 points"
Hello,

I bought one spectrometer. I downloaded on my server your code. Everything work well. But on spectrometer are 3 points to calibrate.
px ->nm
Forexample:
31->388.9
616->632.8
1093->837.8

How I can create this calibration for capture mode?

Thank you

[2021-07-27 16:36] jywarren commented on #159
Many of these may be complete - let's update our list and close relevant issues, but only if they are very close to going live on SpectralWorkbench.org, maybe? Or just note if there are any remaining steps before they go live (i.e. their status):

[2021-09-21 21:57] #219 closed

[2021-09-21 22:11] jywarren opened #265 "Port remaining tools back into new Capture interface, next steps"
After https://github.com/publiclab/spectral-workbench.js/issues/219 and https://github.com/publiclab/spectral-workbench/issues/645 we have the new Capture system running in SpectralWorkbench.org, at https://spectralworkbench.org/capture/v2

This is awesome. Now let's get all the different tools we had before ported into the new interface. You can see a range of buttons on the left side of the old

[2021-09-21 22:28] jywarren commented on #191
done in #245 !!!

[2021-09-21 22:28] #191 closed

[2021-09-23 19:54] jywarren commented on #190
Solved in https://github.com/publiclab/spectral-workbench.js/pull/247 we just need to allow changing resolutions now too!

[2021-09-23 19:54] #190 closed

[2021-09-23 19:55] jywarren commented on #265
We can also look back at some items from: https://github.com/publiclab/spectral-workbench.js/issues/159

[2021-09-23 20:36] jywarren opened #266 "iOS Safari video freezes"
While the new capture interface (https://publiclab.github.io/spectral-workbench.js/examples/new-capture/) works on Safari for Mac OS, in iOS, it freezes on the first frame of video, although the "waterfall" continues.

We should debug!

[2021-09-23 20:40] jywarren commented on #159
Updated this after the huge project of this summer by @waridrox !!! Great work!! https://github.com/publiclab/spectral-workbench/issues/645

[2021-10-05 18:53] #92 closed

[2022-02-25 09:16] cesswairimu commented on #266
Hi @Georjane, Jeff shared this tool on the gitter channel https://www.browserstack.com/guide/safari-remote-debugging not sure if you saw it. I have tried a bit on my end, here are some screenshots I took on the errors I saw. I tried on both sites https://spectralworkbench.org/capture and https://publiclab.github.io/spectral-workbench.js/examples/new-capture/
![Screenshot from 2022-02-25 11-31-25](

[2022-03-10 10:48] Georjane commented on #266
Thank you @cesswairimu
Let me check this out

[2022-07-07 17:23] jywarren commented on #45
Hi @Sugarlust, we'd love your help but this is a pretty obscure one. Would you like to try looking on https://code.publiclab.org/#r=all for more, or requesting one in our chatroom? https://gitter.im/publiclab/publiclab